.content {
    background-color: white;
    text-align: center;
}

.query-row {
    display: flex;
    flex-direction: row;
}

.query-row:nth-child(2n) {
    background-color: rgb(237, 237, 237);
}

.query-row > div {
    display: block;
    width: 50%;
}

.left-about {
    padding: 15px 15px 15px 30px;
}

.left-about > h3 {
    background-color: rgb(15, 64, 123);
    font-size: 1.5rem;
    padding: 15px;
    color: white;
}

.left-about > p {
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 15px;
}

.right-canvas {
    padding: 15px;
}