.section-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: black thin solid;
    margin-top: 30px;
    box-shadow: 5px 5px 5px grey;
    background-color: white;
}

.logo {
    width: 30%;
}

.menu {
    width: 70%;
    border-left: black thin solid;
}

.ul-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    text-align: right;
}

.li-menu {
    padding: 5px;
}