.section-text {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    box-shadow: 3px 5px 5px rgb(196, 196, 196);
    background-color: white;
}

.summary {
    text-align: center;
    padding: 15px 0;
}

.content {
    text-align: justify;
}

.row-text-display {
    display: flex;
    flex-direction: row;
    border-bottom: grey thin solid;
}

.about{
    text-align: justify;
}

.row {
    border-bottom: 1px solid #a7a7a7;
}

.query-row {
    padding: 15px 15px 15px 30px;
}

.query-row > h2 {
    text-align: center;
    color: white;
    background-color: rgb(15, 64, 123);
    padding: 15px;
}

.query-row:nth-child(2n) {
    background-color: rgb(237, 237, 237);
}
