.section-text {
    border: black thin solid;
    padding: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 30px;
}

.h2-text {
    color: grey;
}

.p-text {
    text-align: justify;
}